# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="<database_url>"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="<your_publishable_clerk_key>"
CLERK_SECRET_KEY="<your_clerk_secret_key>"

CLERK_WEBHOOK_SECRET_USER="<your_clerk_user_webhook_secret>"
CLERK_WEBHOOK_SECRET_SESSION="<your_clerk_session_webhook_secret>"

# Scheduler
SCHEDULER_URL="<scheduler_url>"

# Admin email
ADMIN_EMAIL="<email_to_get_admin_role>"
